<luar-crud crud="ctrl" title="Entrada de Veículos">

    <!--<luar-list list="ctrl.lista" ng-show="!Cadastro">
        <column id="id" title="Código" searchable="true"></column>
        <column id="PLACA" title="Placa" searchable="true"></column>
        <column id="NOME_PESSOA" title="Pessoa" searchable="true"></column>
        <column id="VISITANTE" title="Visitante" searchable="true"></column>
        <luar-table></luar-table>
    </luar-list>-->
    <!--ng-show="Cadastro"-->

    <div style="font-size:16px; padding-left: 5px; "  ng-show="!Cadastro">     
        <br />
        <br />
        <h1>Entrada de Veículos</h1>
        <br />
        <div >
            <input type="text" class="form-controlMaior" id="docs" placeholder="Digite a Placa ou Documento"
                   ng-model="ctrl.currentRecord.DOCS" ng-keyup="ctrl.GetProprietarioPlaca($event)">
        </div>
    </div>

    <luar-main-form ng-show="Cadastro">
        <tabset>
            <tab heading="Dados de Entrada">
                <tab-heading> Dados de Entrada</tab-heading>
                <fieldset>
                    <div class="row">
                        <luar-text container-class="col-md-3" label="Placa" name="placa" required
                                   ng-model="ctrl.currentRecord.PLACA"
                                   maxlength="7"></luar-text>

                        <luar-text container-class="col-md-3" label="Documento" required name="nome" maxlength="15"
                                   ng-model="ctrl.currentRecord.DOCUMENTO_PESSOA"></luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-8" label="Proprietário Veículo" required name="documentoNome"
                                   ng-model="ctrl.currentRecord.NOME_PESSOA"></luar-text>
                    </div>

                    <div class="row">
                        <luar-select container-class="col-md-2" label="Torre" name="torre" required
                                     ng-options="item.id as item.NOME  for item in ::ctrl.TorreLook"
                                     ng-model="ctrl.currentRecord.TORRE">
                        </luar-select>

                        <luar-text container-class="col-md-2" label="Nro AP" name="nrpap" type="number" maxlength="4"
                                   ng-model="ctrl.currentRecord.COD_CADAPARTAMENTO" required></luar-text>

                        <luar-text container-class="col-md-2" label="Garagem" name="garagem" maxlength="4"
                                   ng-model="ctrl.currentRecord.GARAGEM" type="number" required></luar-text>
                    </div>

                    <div class="row">
                        <luar-text container-class="col-md-8" label="Proprietário AP" name="documentoNomeAP"
                                   ng-model="ctrl.currentRecord.NOME_PESSOA_AP"></luar-text>
                    </div>

                    <div class="row">
                        <luar-Textarea container-class="col-md-8" label="Observações" name="OBS" maxlength="250"
                                       ng-model="ctrl.currentRecord.OBS"></luar-Textarea>
                    </div>

                </fieldset>
            </tab>
        </tabset>
    </luar-main-form>

</luar-crud>




